body {
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

img {
  border: 10px solid white;
  border-radius: 50%;
  width: 400px;
}

.bold-text {
  display: block;
  font-weight: 900;
}

h1 .bold-text {
  font-size: 80px;
}

h2 .bold-text {
  font-size: 60px;
}

.container {
  margin: 0 auto;
  width: 570px;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  font-size: 3.75rem;
  margin-top: 0;
}

h2 {
  border-bottom: solid 1px #c4c4c4;
  border-top: solid 1px #c4c4c4;
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 25px 0;
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.small-text {
  font-size: 1rem;
  margin-top: 3px;
}

a {
  color: #21d7a0;
  font-weight: 900;
}

a:hover,
a:focus {
  color: whitesmoke;
}

header,
section {
  padding-bottom: 100px;
  padding-top: 100px;
}

header {
  /* background-color: #d7d7d7; */
}

.about-me {
  /* background-color: #ffeaea; */
}

.articles {
  /* background-color: #eaf9ff; */
}

.inverse {
  background-color: #252525;
  color: white;
}

.inverse .btn:hover,
.inverse .btn:focus {
  background: #fff;
  color: #252525;
}

.btn {
  background: #21d7a0;
  color: #252525;
  display: inline-block;
  margin-top: 25px;
  padding: 10px 25px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background-color: #252525;
  color: white;
}

.accent-text,
.name,
time {
  color: #21d7a0;
  font-weight: 900;
}

.accent-text {
  display: block;
}

h1 .accent-text {
  font-size: 5rem;
}

h2 .accent-text {
  font-size: 3.75rem;
}
